*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a{
  text-decoration: none;  /* Decoração do texto */
}
body{
    width: 100%;
    background-image: linear-gradient(320deg, #02eba5, #029b6d, #015f43);
}
/* Parte de divs */
div{
    width: 1000px;
    background-color: aliceblue;
    margin: auto;
}
div h1, p{
    padding: 10px;
}
div h1{
    text-align: center;
}
div p{
    text-align: justify;
}

/* Main Parte principal */
main{
    width: 40%;
    background-color: aquamarine;
    margin: auto;            
    margin-top: 20px;
}
main article h1{
    text-align: center;
    font-size: 20pt;
}
main article p{
    text-align: justify;
}

/* Section de imagens */
section{
    margin-top: 20px;
    width: 90%;
    background-color: brown;
    padding: 10px;
    margin-left: 5%;

}
section .img-quadrada{
    width: 500px;
    background-color: transparent;
    margin: auto;

}
section .img-quadrada img{
    width: 500px;
    height: auto;
    box-shadow: 10px 10px 20px #015f43;
}

section .img-arredondada{
    width: 400px;
    background-color: transparent;
    margin: auto;
}

section .img-arredondada img{
    border-radius: 50%;
    width: 400px;
    height: auto;
    box-shadow: 10px 10px 20px #015f43;
}

/* Section Navegação / Links */
section nav{
    text-align: center;
}
section nav a{
    font-family: Impact,  'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    padding: 10px;
    color: white;
    margin: 100px;
}
section nav a:hover{
    color: #015f43;
    font-size: 22pt;
}

