*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :not(p){  Exceto 
    background-color: chartreuse;
}*/

a{
    text-decoration: none;

}


/* MENU A */ 
nav{
    background-color: #c3c3c3;
    text-align: center;
    padding: 20px;

}

nav a{
    width: auto;
    font-size: 20pt;
    margin-right: 10px;
    text-transform: capitalize;
    transition: all ease-in-out 0.5s;
    position: relative;
}

/* PSEUDO ELEMENTO */
nav a::after{
    content: "";
    height: 1px;
    width: 0%;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease-in-out 0.5s;
}

nav a:hover::after{
    width: 100%;
}

nav a:link{
    color: white;
}

nav a:hover{
    color: black;
}

nav a:active{
    color: red;
}

nav a:visited{
    color: green;
}

/* FORMULARIO */ 

form{
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: #ccc;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

form input{
    width: 80%;
    margin-top: 10px;
    font-size: 30pt;
}

form input[type=text]{
    background-color: transparent;
    color: white;
    padding: 5px;
}

form input::placeholder{
    color: darkred;
    font-family: cursive;
}

form input:nth-child(1){
    background-color: transparent;
    outline: none;
    border: none;
} 

form input[type=email]:invalid{
    border: 1px solid red;
    font-family: cursive;
    background-color: darkred;
}

form input[type=email]:valid{
    background-color: darkgreen;
}

form input:focus{
    background-color: brown;
}

form input[type=submit]{
    background-color: black;
    color: white;
    border-radius: 20px;
}

/* SPAN */
span[title="curto"]{ /* IDENTICO */
    background-color: green;
}

span[title~="curto"]{ /* CONTÉM */
    font-size: 20pt;
}

/* A LINK */ 

a[href^="https"]{ /* COMEÇAR */
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 10px;
}
a[href$=".pdf"]{ /* TERMINAR */
    background-color: green;
    padding: 2px;
    color: white;
    font-size: 20pt;
}

/* TABELA */

table{
    width: 80%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

thead tr{
    height: 50px;
    background-color: #cecece;
    color: white;
}

tbody{
    text-align: center;
}

/*tbody tr:nth-child(n){ Seleciona todos os itens
    background-color: bisque;
}*/

tbody tr:nth-child(2n){ /* Pega os Pares ou even */
    background-color: burlywood;
}
tbody tr:nth-child(2n -1){ /* Pega os impares  ou odd*/
    background-color: aqua;
}

tbody tr:nth-child(n + 11){ /* Pega todos a partir do 11*/
    background-color: darkred;
}
tbody tr:nth-child(-n + 4){ /* Pega os 4 primeiros*/
    background-color: darkgreen;
}

tbody tr:nth-child(n + 5):nth-child(-n + 8){ /* Pega um intervalo do 5 ao 8 */
    background-color: #c3c3c3;
}

/* DIV */ 
div{
    width: 80%;
    margin: auto;
    user-select: none; /* Proibe a seleção de texto na div */
}
div > p{
    font-size: 20pt;
}

div > p::first-letter{
    font-size: 80pt;
    font-family: cursive;
    padding: 10px;
}

div > p::first-line{
    background-color: green;
}


div > p::selection{
    color: white;
    background-color: yellowgreen;
}

div > p::before{
    content: "º";
    font-size: 10pt;
    color: red;
}
div > p::after{
    content: " fim";
    font-size: 10px;
}
